In [29]:
import pandas as pd

# County data

Merge all of the county-level dataframes into a single file for analysis.

In [30]:
# Start with the NCI dataset
df = pd.read_csv("../../data/processed/nci.csv")
df

,fips,cancer_incidence_rate_per_100000,cancer_mortality_rate_per_100000,breast_cancer_incidence_rate_per_100000,breast_cancer_mortality_rate_per_100000,colorectal_cancer_incidence_rate_per_100000,colorectal_cancer_mortality_rate_per_100000,lung_cancer_incidence_rate_per_100000,lung_cancer_mortality_rate_per_100000,prostate_cancer_incidence_rate_per_100000,...,median_household_income,language_isolation_percent,over_65_percent,below_poverty_percent,uninsured_percent,uv_exposure,asian_pacific_islander_percent,black_percent,hispanic_percent,white_percent
0,12125,1143.5,454.48,190.2,NaN,121.7,45.14,196.3,147.94,230.6,...,NaN,NaN,34.6,17.6,18.6,4668.0,0.6,21.9,5.5,NaN
1,31113,739.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,51607.0,1.8,NaN,NaN,16.9,4378.0,NaN,NaN,2.9,98.6
2,40055,710.4,209.41,234.0,NaN,60.4,NaN,95.4,61.15,140.3,...,NaN,0.7,33.5,14.7,19.0,4937.0,NaN,8.3,11.3,NaN
3,21197,648.2,246.56,128.8,NaN,73.2,26.48,132.5,90.67,NaN,...,NaN,NaN,33.5,16.4,NaN,NaN,0.6,NaN,NaN,96.8
4,31163,629.5,NaN,157.1,NaN,NaN,NaN,NaN,NaN,161.8,...,51172.0,NaN,34.0,9.1,19.8,4401.0,0.7,NaN,NaN,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,31107,431.4,NaN,160.0,NaN,NaN,NaN,NaN,NaN,110.7,...,49752.0,0.8,NaN,NaN,18.0,4206.0,NaN,NaN,NaN,86.8
1996,48497,431.4,181.40,NaN,28.48,43.7,16.51,72.1,55.09,NaN,...,61709.0,3.3,33.6,9.2,36.1,4903.0,0.6,1.3,19.0,93.3
1997,51113,431.4,181.05,NaN,NaN,45.8,18.40,75.6,42.07,NaN,...,54197.0,0.5,33.1,NaN,20.9,4119.0,0.8,6.9,NaN,85.8
1998,46019,431.4,178.03,NaN,NaN,52.7,NaN,64.0,53.59,NaN,...,NaN,NaN,NaN,NaN,21.9,4201.0,NaN,NaN,3.5,94.3
1999,4015,431.2,183.30,112.7,25.81,37.5,17.21,73.8,51.70,NaN,...,NaN,1.6,NaN,11.6,15.2,5425.0,1.5,NaN,16.2,90.5

In [31]:
files = [
    "food_access.csv",
    "language_barriers.csv",
    "social_vulnerability_index.csv",
    "walkability.csv"
]

In [32]:
for f in files:
    df2 = pd.read_csv("../../data/processed/" + f)
    df = df.set_index("fips").join(df2.set_index("fips"), how="outer").reset_index()
df

,fips,cancer_incidence_rate_per_100000,cancer_mortality_rate_per_100000,breast_cancer_incidence_rate_per_100000,breast_cancer_mortality_rate_per_100000,colorectal_cancer_incidence_rate_per_100000,colorectal_cancer_mortality_rate_per_100000,lung_cancer_incidence_rate_per_100000,lung_cancer_mortality_rate_per_100000,prostate_cancer_incidence_rate_per_100000,...,population_in_poverty,population_over_16_unemployed,population_over_25_no_high_school_diploma,population_over_65,population_under_17,population_uninsured,population_with_disability,single_parent_households,population_minority,walkability_index
0,1001,490.1,163.48,129.9,21.59,49.5,15.19,67.8,48.43,133.2,...,12611.0,736.0,4273.0,8490.0,13143.0,4345.0,9658.0,1608.0,14479.0,5.483179
1,1003,452.4,165.47,128.1,22.20,40.4,13.93,70.0,47.25,88.4,...,36413.0,4027.0,14823.0,44716.0,46993.0,20501.0,30615.0,3317.0,37334.0,6.812530
2,1005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8965.0,649.0,4497.0,4777.0,5222.0,2362.0,4159.0,1029.0,13694.0,5.156175
3,1007,467.3,187.60,140.7,22.05,47.0,14.30,78.3,54.26,112.7,...,5730.0,667.0,3056.0,3676.0,4584.0,1878.0,3748.0,790.0,5724.0,5.241296
4,1009,432.0,176.72,130.0,20.36,36.7,14.17,70.3,53.94,96.9,...,13624.0,1253.0,6838.0,10382.0,13372.0,5746.0,8564.0,1313.0,7690.0,4.674447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3232,72151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.385946
3233,72153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.541645
3234,78010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.280686
3235,78020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.179696
3236,78030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.667674

In [33]:
# Write out the merged data
df.to_csv("../../data/final/county_data.csv", index=False)

# Location data

Copy over all latitude/longitude and redline data files to the final folder.

In [39]:
files = [
    "oil_accidents.csv",
    "redlining.csv"
]

In [40]:
for f in files:
    df = pd.read_csv("../../data/processed/" + f)
    df.to_csv("../../data/final/" + f, index=False)

       latitude   longitude  oil_barrels_spilled  spill_count
0     18.448010  -66.074760                66.00            1
1     21.304380 -158.093700                14.00            1
2     21.316680 -158.099930                 3.00            1
3     21.317740 -157.890550              1300.00            1
4     23.336784  -94.958220              1413.00            1
...         ...         ...                  ...          ...
2563  70.107620 -147.386330                 0.01            1
2564  70.151205 -147.096536                 0.28            1
2565  70.256660 -148.620300               308.00            1
2566  70.257147 -148.621973                 4.31            1
2567  70.261265 -148.611844                 6.00            1

[2568 rows x 4 columns]

In [41]:
# Write out the merged data